@model cloud_template_dotnet_core.ViewModels.DeliveryApiSpecificationViewModel;

@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron mt-3">
    <h1>@Model.Title</h1>
    @Html.DisplayFor(m => m.Description)
    <hr />
    <p>Version: @Model.Version</p>
</div>

<section class="mt-3">
    <h2>Categories</h2>
    <div class="accordion" id="accordionExample">
        @Html.DisplayFor(m => m.Categories)
    </div>
</section>

<section class="mt-3">
    <h2>End points</h2>
    <div class="row">
        @Html.DisplayFor(m => m.EndPoints)
    </div>
</section>

<section class="mt-3">
    <h2>Paths</h2>
    @Html.DisplayFor(m => m.Paths)
</section>